<!DOCTYPE html>
<html>
<head>




<link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Open+Sans" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR" rel="stylesheet">
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
   
<link href="css/elements.css" rel="stylesheet">
<script src="js/my_js.js"></script>
   
<title>
노프랜차이즈 화면
</title>
</head>

<style>


/*     주된 값        */
#nav
{
    background-color:  white;
    margin-top: 15px;
    
  
   
}
.con
{
    width: 300px;
    height:350px;
    position: relative;
   left:10%;
    padding:5px;
    margin:5px 0px;
   margin-right: 60px;
    
   
}


/*  노프랜차이즈   */
#cent4
{
    
    height: 700px;
    margin-top: 50px;
    padding: 70px 200px;
    
   
}
#a4
{
   width:230%;
   height:140%;
   position:absolute;
   left:170%;
   top:-10%;
   margin-left:50px;
   
   
}
#b4
{
position:absolute;
top:135%;
right:40%;
font-size:20px;
}
img#c4
{
   position:absolute;
    height:500px;
    width:200%;
   right:-50%;
   top:-30px;
    margin:0px;
   
   z-index:100;
}
.next4
{
    width: 10%;
    height: 30px;
    position: absolute;
    top:135%;
   left:60%;
    background:#FFF5EE;
    text-align: center;
    color:  black;
    
    cursor: pointer; 
   
}
.prev4
{
    width: 10%;
    height: 30px;
    position: absolute;
    top:135%;
   right:72%;
    background: #FFF5EE;
    text-align: center;
    color: black;
    
    cursor: pointer; 
}

 .next4:hover, .prev4:hover
{
    background: gray;
}

/* 화살표 위치 */
.prev44
{
   position:absolute;
   top:3px;
  
   
   
}
.next44
{
   position:absolute;
   top:3px;
   right:3px;
   
}







/*  노프랜차이즈   */
#cent5
{
   height: 500px;
   margin: auto;
    padding: 70px;
   

}
#a5
{
   width:230%;
   height:100%;
   position:absolute;
   right:-90%;
   top:5%;
   
}
#b5
{
position:absolute;
top:135%;
left:310%;
font-size:20px;
}
img#c5
{
   position:absolute;
    height:500px;
    width:200%;
   left:213%;
   top:-30px;
    margin:0px;
   
   z-index:100;

}
.next5
{
    width: 10%;
    height: 30px;
    position: absolute;
    top:135%;
   left:328%;
    background: #FFF5EE;
    text-align: center;
    color:  black;
    
    cursor: pointer; 
}
.prev5
{
    width: 10%;
    height: 30px;
    position: absolute;
    top:135%;
   right:-210%;
    background:  #FFF5EE;
    text-align: center;
    color: black;
    
    cursor: pointer; 
}
 .next5:hover, .prev5:hover
{
    background: pink;
}

/* 화살표 위치 */
.prev55
{
   position:absolute;
   top:3px;
}
.next55
{
   position:absolute;
   top:3px;
   right:3px;
}






/*  노프랜차이즈   */
#cent6
{
   
    height: 500px;
    margin: auto;
    padding: 70px;
   
   
}
#a6
{
   width:230%;
   height:100%;
   position:absolute;
   left:170%;
   top:5%;

}
#b6
{
   position:absolute;
   top:135%;
   right:40%;
   font-size:20px;
}
img#c6
{
   position:absolute;
    height:500px;
    width:200%;
   right:-50%;
   top:-30px;
    margin:0px;
   
   z-index:100;
}
.next6
{
    width: 10%;
    height: 30px;
    position: absolute;
    top:135%;
   left:60%;
    background:#FFF5EE;
    text-align: center;
    color:  black;
   
    cursor: pointer; 
   
}
.prev6
{
    width: 10%;
    height: 30px;
    position: absolute;
    top:135%;
   right:75%;
    background:  #FFF5EE;
    text-align: center;
    color: black;
    
    cursor: pointer; 
}

 .next6:hover, .prev6:hover
{
    background: pink;
}

/* 화살표 위치 */
.prev66
{
   position:absolute;
   top:5px;
   
}
.next66
{
   position:absolute;
   top:5px;
   right:3px;
}







#contact{
color:gray;
text-align: center;
}

/*      컨택트          */
.section 
{
    background-color:#FFF5EE;
    padding: 15px;
    margin-bottom: 30px;
   border-radius: 5px;
   position:absolute;
   top: 300%;
   width:80%;
}
form 
{
    margin-top: 0;
}
.submit 
{
    background-color: #3fb6b2;
    padding: 12px 45px;
    border-radius: 5px;
    cursor: pointer;
    color: #ffffff;
    border: none;
    outline: none;
    margin: 0;
   width: 72%;
}
.submit:hover 
{
    background-color: #43a09d;
}
textarea 
{
    height: 100px;
}
input, textarea 
{
    margin-bottom: 10px;
    font-size: 11pt;
    padding: 15px 10px 10px;
    border: 1px solid #cecece;
    background-color: #efefef;
    color: #787575;
    border-radius: 5px;
    width: 70%;
    outline: none;
   border:2px solid black;
}
h1
{
margin:40px;
}

/*메뉴*/
* 
       {    
         padding: 0;
         margin: 0;
         transition: all .5s ease-in-out;
      }
      header {
          position:fixed;
        z-index:300;
          font-family: 'Noto Sans KR', sans-serif;
         background: #2a2a2a;
         width: 100%;
        
      }
     
      input{
          font-family: 'Noto Sans KR', sans-serif;
         display: none;
       
      }
     
      label {
         font-family: 'Noto Sans KR', sans-serif;
         width: 30px;
         height: 30px;
         display: block;
         background: #333;
         color:  #FFF5EE;
         font-size: 40px;
         line-height: 30px;
         text-align: center;
         padding: 10px;
         font-weight: bold;
         float: left;
       
      }
      label:hover {
          font-family: 'Noto Sans KR', sans-serif;
         background: #444;
      }
      main {
          font-family: 'Noto Sans KR', sans-serif;
         color:  #FFF5EE;
         height: 50px;
         display: block;
         text-align: right;
         padding: 0px 20px;
         line-height: 50px;
         letter-spacing: 5px;
         text-transform: uppercase;
         font-family: monospace;
         font-weight: 900;
      }
      .menu {
          font-family: 'Noto Sans KR', sans-serif;
         position: absolute;
         background: #333;
         width: 200px;
         list-style: none;
         margin-left: -200px;
         opacity: 0;
       
      }
      li {
          font-family: 'Noto Sans KR', sans-serif;
         display: block;
         outline: 1px solid #eee;
         padding: 7px 10px;
         border-left: 0 solid #ddd;
      }
      li a {
          font-family: 'Noto Sans KR', sans-serif;
         color: #eee;
         text-decoration: none;
         display: block;
      }
      li:hover {
         font-family: 'Noto Sans KR', sans-serif;
         background: #444;
         border-left: 5px solid #ddd;
      }
      #btn_main:checked ~ .menu {
          font-family: 'Noto Sans KR', sans-serif;
         margin: 0;
         opacity: 1;
      }

    body
    {
       font-family: 'Noto Sans KR', sans-serif;
       font-size: 10pt;
       background-color:  white;
       padding: 0px;
       margin: auto;
       height: 50000px;
    }
    #cencent
    {
        width :90%;
        margin : 0 auto;
    }
    
    /*   맨 위     */
    #head 
    {
       font-family: 'Noto Sans KR', sans-serif;
       background-image: url(<%=asset_path('홈.jpg')%>);
       color: #FFF5EE;
        background-size: cover;
       padding: 80px;
        margin-bottom: 10px;
        
       
    }
    #head> p 
    {
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 100px;
        color:  #FFF5EE;
        padding-top: 5px;
        margin: 50px;
        font-weight: bold;
        text-align: center;
    }

    .trigger
    {
        text-align: center; 
         display: block; 
         margin: 0 auto; 
         font-size: 16px; 
         color: black; 
       background-color:#FFF5EE;
       border:2px solid gray;
    }
    
    
     #qwe { 
         display: block; 
         margin-top: 20px; 
         letter-spacing: 2px; 
       border:5px solid red;
     } 
     form { 
         margin: 0 auto; 
         width: 459px; 
        border:5px solid red;
     } 
     input, textarea { 
         width: 439px; 
         height: 27px; 
         background-color: #efefef; 
         border-radius: 6px; 
         border: 1px solid #dedede; 
         padding: 10px; 
         margin-top: 3px; 
         font-size: 0.9em; 
         color: #3a3a3a; 
     } 
         input:focus, textarea:focus{ 
             border: 1px solid #97d6eb; 
           border:5px solid red;
         } 
     
     textarea{ 
        height: 60px; 
        background-color: #efefef; 
        border:5px solid red;
     } 
    #submit{ 
        width: 127px; 
        height: 48px; 
        text-align: center; 
        border: none; 
        margin-top: 20px; 
        cursor: pointer; 
        border:5px solid red;
     } 
     #submit:hover{ 
        color: #fff; 
        background-color: #216282; 
        opacity: 0.9; 
        border:5px solid red;
     } 
     #cancel { 
        width: 127px; height: 48px; 
        text-align: center; 
        border: none; 
        margin-top: 20px; 
        cursor: pointer; 
        border:5px solid red;
     } 
     #cancel:hover{ 
        color: #fff; 
        background-color: #216282; 
        opacity: 0.9; 
        border:5px solid red;
     }

    .modal { 
        position: fixed; 
        left: 0; 
        top: 0; 
        width: 100%; 
        height: 100%; 
        background-color: rgba(0, 0, 0, 0.5); 
        opacity: 0; 
        visibility: hidden; 
        transform: scale(1.1); 
        transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s; 
        border:5px solid red;
     } 
     .modal-content { 
        position: absolute; 
        top: 50%; 
        left: 50%; 
        transform: translate(-50%, -50%); 
        background-color: white; 
        padding: 1rem 1.5rem; 
        width: 500px; 
        height: 350px; 
        border-radius: 0.5rem; 
        border:5px solid red;
   
     } 
    .close-button { 
        float: right; 
        width: 1.5rem; 
        line-height: 1.5rem; 
        text-align: center; 
        cursor: pointer; 
        border-radius: 0.25rem; 
        background-color: lightgray; 
        border:5px solid red;
     } 
    .close-button:hover { 
        background-color: darkgray; 
        border:5px solid red;
    } 
    .show-modal { 
        opacity: 1; 
        visibility: visible; 
        transform: scale(1.0); 
        transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s; 
        z-index:500;
        border:5px solid red;
    } 
    
        
        
    #gg{
        font-size:30px;
        background-color:black; 
        color:white;
        position:absolute;
            
        font-family: 'Abril Fatface', cursive;
        left:45%;
        padding-right:10px;
        padding-left:10px;
        top:30px;
    }
</style>


<body>
   <header>
  
      <input type="checkbox" id="btn_main"><!-- sadfadfasdfa -->
      <label for="btn_main">&equiv;</label>
      <main for="">CAFE FOR GNU</main>
      <ul class="menu">
         <li><a href="/">HOME</a></li>
         <li><a href="#cent4">달콤한 하루</a></li>
         <li><a href="#cent5">루씨르</a></li>
         <li><a href="#cent6">블루리본</a></li>
         <li><a href="/boards/list">게시판</a></li>
      </ul>
   </header>

      <div id="head"><!--헤드-->
            <p>THE CAFE</p>
      </div>
 
     
    <div id = cencent>
<a name="달콤"></a>
<div id="nav"><!--노 프랜차이즈-->   
<div id="cent4">        
<div class="con">
    <div id="b4">달콤한 하루</div>
          
        <div id="a4">
        <span id="gg">Drink</span>                     <!--<span id="g">Dessert</span>-->   
            
            <h2 style="position:absolute; top:20%; left:18%;">COFFEE</h2>            <h2 style="position:absolute; top:20%; right:14%;">FRAPPE</h2>
            <p style="position:absolute; top:27%; left:18%;">아메리카노</p>               <p style="position:absolute; top:27%; right:14%;">카라멜프라페</p>
            <p style="position:absolute; top:32%; left:18%;">카페라떼</p>               <p style="position:absolute; top:32%; right:14%;">녹차프라페</p>
            <p style="position:absolute; top:37%; left:18%;">카라멜마끼아또</p>            <p style="position:absolute; top:37%; right:14%;">초코프라페</p>
            <p style="position:absolute; top:42%; left:18%;">바닐라라떼</p>               <p style="position:absolute; top:42%; right:14%;">모카프라페</p>
            <p style="position:absolute; top:47%; left:18%;">썸머라떼</p>
                                                                                 
            <h2 style="position:absolute; top:65%; left:18%;">ADE & TEA</h2>         
            <p style="position:absolute; top:72%; left:18%;">카카오마시멜로우키스티</p>
            <p style="position:absolute; top:77%; left:18%;">스트로베리크림티</p>
            <p style="position:absolute; top:82%; left:18%;">베리베리베리티에이드</p>
            
            <h2 style="position:absolute; top:65%; right:14%;">SMOOTHIE</h2>
            <p style="position:absolute; top:72%; right:14%;">플레인 요거트 스무디</p>
            <p style="position:absolute; top:77%; right:14%;">딸기요거트 스무디</p>
            <p style="position:absolute; top:82%; right:14%;">블루베리요거트스무디</p>
            
            <h4 style="position:absolute; top:87%; right:14%;" id="gk"  onclick="document.getElementById('mapouter').style.visibility = 'visible'">location</h4>
 
        
             <div id="mapouter">
             <p id="sk" onclick="document.getElementById('mapouter').style.visibility = 'hidden'">&times;</p>
             <iframe width="600" height="530" id="gmap_canvas" src="https://maps.google.com/maps?q=%EA%B2%BD%EC%83%81%EB%8C%80%20%EB%8B%AC%EC%BD%A4%ED%95%9C%ED%95%98%EB%A3%A8&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
             </iframe>
             </div>
            </div>
         
      <div class="slides">
       
     
           <img id="c4" src="<%=asset_path('달콤1.png')%>">
          
         <a class="next4" onclick="plusIndex(+1)"><div class="next44">&#10095;</div></a>
         <a class="prev4" onclick="plusIndex(-1)"><div class="prev44">&#10094;</div></a>
       
        </div>
      
        <div class="slides">
          
           <img id="c4" src="<%=asset_path('달콤2.png')%>">
          
         <a class="next4" onclick="plusIndex(+1)"><div class="next44">&#10095;</div></a>
         <a class="prev4" onclick="plusIndex(-1)"><div class="prev44">&#10094;</div></a>
            
                 
        </div>
            
        <div class="slides">
           
            <img id="c4" src="<%=asset_path('달콤3.png')%>">
     
         <a class="next4" onclick="plusIndex(+1)"><div class="next44">&#10095;</div></a>
         <a class="prev4" onclick="plusIndex(-1)"><div class="prev44">&#10094;</div></a>
   
    
        </div>
      
</div></div>  

      <!-- 1 -->
<script type = "text/javascript">  
var slideIndex = 1;

//showImage() to display the 1st image
showImage(slideIndex);

/*When the user clicks one of the buttons call plusIndex(). The plusIndex() function subtracts one or adds one to the slideIndex*/
function plusIndex(n) {
    showImage(slideIndex += n);
}
function showImage(n) {
    var i;
    var x = document.getElementsByClassName("slides");
    
/*If the slideIndex is higher than the number of elements (x.length), the slideIndex is set to zero*/
    if (n > x.length) {
    slideIndex = 1
    }
    
/*If the slideIndex is less than 1 it is set to number of elements (x.length) */
    if (n < 1) {
    slideIndex = x.length;
    } 
    for (i = 0; i < x.length; i++) {
    
/*The showImage() function hides (display="none" ) all elements with the class name "slides"*/
    x[i].style.display = "none";
    }  
/*displays (display="block" ) the element with the given slideIndex*/
    x[slideIndex-1].style.display = "block";
}

//AutoSlide animation
var slideIndex = 0;
autoSlide();
function autoSlide() {
    var i;
    var x = document.getElementsByClassName("slides");
    for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
    }
    slideIndex++;
    if (slideIndex > x.length) {
    slideIndex = 1
    }
    x[slideIndex-1].style.display = "block";

// Change image every 5 seconds
setTimeout(autoSlide, 5000);

}
</script>
</div>


<a name="LUCIR"></a>
<div id="nav">  
<div id="cent5"> 
    <div class="con"><!--노 프랜차이즈-->
    <div id="b5">LUCIR</div>
         <div id="a5">
         <span id="gg">Drink</span>                     <!--<span id="g">Dessert</span>-->   
            
            <h2 style="position:absolute; top:20%; left:18%;">COFFEE</h2>            <h2 style="position:absolute; top:20%; right:14%;">FRAPPE</h2>
            <p style="position:absolute; top:27%; left:18%;">아메리카노</p>               <p style="position:absolute; top:27%; right:14%;">카라멜프라페</p>
            <p style="position:absolute; top:32%; left:18%;">카페라떼</p>               <p style="position:absolute; top:32%; right:14%;">녹차프라페</p>
            <p style="position:absolute; top:37%; left:18%;">카라멜마끼아또</p>            <p style="position:absolute; top:37%; right:14%;">초코프라페</p>
            <p style="position:absolute; top:42%; left:18%;">바닐라라떼</p>               <p style="position:absolute; top:42%; right:14%;">모카프라페</p>
            <p style="position:absolute; top:47%; left:18%;">썸머라떼</p>
                                                                                 
            <h2 style="position:absolute; top:65%; left:18%;">ADE & TEA</h2>         
            <p style="position:absolute; top:72%; left:18%;">카카오마시멜로우키스티</p>
            <p style="position:absolute; top:77%; left:18%;">스트로베리크림티</p>
            <p style="position:absolute; top:82%; left:18%;">베리베리베리티에이드</p>
            
            <h2 style="position:absolute; top:65%; right:14%;">SMOOTHIE</h2>
            <p style="position:absolute; top:72%; right:14%;">플레인 요거트 스무디</p>
            <p style="position:absolute; top:77%; right:14%;">딸기요거트 스무디</p>
            <p style="position:absolute; top:82%; right:14%;">블루베리요거트스무디</p>
            </div>

            
      <div class="slides2">
           
           <img id="c5" src="<%=asset_path('LUCIR1.png')%>" >
           
         <a class="next5" onclick="plusIndex2(+1)"><div class="next55">&#10095;</div></a>
         <a class="prev5" onclick="plusIndex2(-1)"><div class="prev55">&#10094;</div></a>
         
                     
      </div>
      

        <div class="slides2">
           
           <img id="c5" src="<%=asset_path('LUCIR2.png')%>" >
            
         <a class="next5" onclick="plusIndex2(+1)"><div class="next55">&#10095;</div></a>
         <a class="prev5" onclick="plusIndex2(-1)"><div class="prev55">&#10094;</div></a>
         
                      
        </div>
            
        <div class="slides2">
         
            <img id="c5" src="<%=asset_path('LUCIR3.png')%>" >
           
         <a class="next5" onclick="plusIndex2(+1)"><div class="next55">&#10095;</div></a>
         <a class="prev5" onclick="plusIndex2(-1)"><div class="prev55">&#10094;</div></a>
      
                              
        </div>
 

</div></div>
      
   <!-- 2 -->
<script type = "text/javascript">  

var slideIndex2 = 1;

//showImage() to display the 1st image
showImage2(slideIndex2);

/*When the user clicks one of the buttons call plusIndex(). The plusIndex() function subtracts one or adds one to the slideIndex*/
function plusIndex2(m) {
    showImage2(slideIndex2 += m);
}
function showImage2(m) {
    var j;
    var y = document.getElementsByClassName("slides2");
    
/*If the slideIndex is higher than the number of elements (x.length), the slideIndex is set to zero*/
    if (m > y.length) {
    slideIndex2 = 1
    }
    
/*If the slideIndex is less than 1 it is set to number of elements (x.length) */
    if (m < 1) {
    slideIndex2 = y.length;
    } 
    for (j = 0; j <  y.length; j++) {
    
/*The showImage() function hides (display="none" ) all elements with the class name "slides"*/
    y[j].style.display = "none";
    }  
/*displays (display="block" ) the element with the given slideIndex*/
    y[slideIndex2-1].style.display = "block";
}

//AutoSlide animation
var slideIndex2 = 0;
autoSlide();
function autoSlide() {
    var j;
    var y = document.getElementsByClassName("slides2");
    for (j = 0; j <  y.length; j++) {
    y[j].style.display = "none";
    }
    slideIndex2++;
    if (slideIndex2 >  y.length) {
    slideIndex2 = 1
    }
    y[slideIndex2-1].style.display = "block";

// Change image every 5 seconds
setTimeout(autoSlide, 5000);
}
 </script>
 </div>
 
 
 
 
 
 
 
<a name="BlueRibbon"></a>
<div id="nav">   
<div id="cent6">   
   <div class="con"><!--노 프랜차이즈-->
       <div id="b6">달콤한 하루</div>
  <div id="a6"> 
                
                
                
                <span id="gg">Drink</span>                     <!--<span id="g">Dessert</span>-->   
            
            <h2 style="position:absolute; top:20%; left:18%;">COFFEE</h2>            <h2 style="position:absolute; top:20%; right:14%;">FRAPPE</h2>
            <p style="position:absolute; top:27%; left:18%;">아메리카노</p>               <p style="position:absolute; top:27%; right:14%;">카라멜프라페</p>
            <p style="position:absolute; top:32%; left:18%;">카페라떼</p>               <p style="position:absolute; top:32%; right:14%;">녹차프라페</p>
            <p style="position:absolute; top:37%; left:18%;">카라멜마끼아또</p>            <p style="position:absolute; top:37%; right:14%;">초코프라페</p>
            <p style="position:absolute; top:42%; left:18%;">바닐라라떼</p>               <p style="position:absolute; top:42%; right:14%;">모카프라페</p>
            <p style="position:absolute; top:47%; left:18%;">썸머라떼</p>
                                                                                 
            <h2 style="position:absolute; top:65%; left:18%;">ADE & TEA</h2>         
            <p style="position:absolute; top:72%; left:18%;">카카오마시멜로우키스티</p>
            <p style="position:absolute; top:77%; left:18%;">스트로베리크림티</p>
            <p style="position:absolute; top:82%; left:18%;">베리베리베리티에이드</p>
            
            <h2 style="position:absolute; top:65%; right:14%;">SMOOTHIE</h2>
            <p style="position:absolute; top:72%; right:14%;">플레인 요거트 스무디</p>
            <p style="position:absolute; top:77%; right:14%;">딸기요거트 스무디</p>
            <p style="position:absolute; top:82%; right:14%;">블루베리요거트스무디</p>
            </div>
      <div class="slides3">
           
           <img id="c6" src="<%=asset_path('BlueRibbon1.png')%>" >
         <a class="next6" onclick="plusIndex3(+1)"><div class="next66">&#10095;</div></a>
         <a class="prev6" onclick="plusIndex3(-1)"><div class="prev66">&#10094;</div></a>
                           
        </div>
      

      <div class="slides3">
       
           <img id="c6" src="<%=asset_path('BlueRibbon2.png')%>" >
          
         <a class="next6" onclick="plusIndex3(+1)"><div class="next66">&#10095;</div></a>
         <a class="prev6" onclick="plusIndex3(-1)"><div class="prev66">&#10094;</div></a>
                    
                        
        </div>
            
        <div class="slides3">
           
            <img id="c6" src="<%=asset_path('BlueRibbon3.png')%>" >
             
         <a class="next6" onclick="plusIndex3(+1)"><div class="next66">&#10095;</div></a>
         <a class="prev6" onclick="plusIndex3(-1)"><div class="prev66">&#10094;</div></a>
                          
        </div>
 
</div></div> 
 
  <!-- 3 -->
<script type = "text/javascript">  

var slideIndex3 = 1;

//showImage() to display the 1st image
showImage3(slideIndex3);

/*When the user clicks one of the buttons call plusIndex(). The plusIndex() function subtracts one or adds one to the slideIndex*/
function plusIndex3(m) {
    showImage3(slideIndex3 += m);
}
function showImage3(m) {
    var j;
    var y = document.getElementsByClassName("slides3");
    
/*If the slideIndex is higher than the number of elements (x.length), the slideIndex is set to zero*/
    if (m > y.length) {
    slideIndex3 = 1
    }
    
/*If the slideIndex is less than 1 it is set to number of elements (x.length) */
    if (m < 1) {
    slideIndex3 = y.length;
    } 
    for (j = 0; j < y.length; j++) {
    
/*The showImage() function hides (display="none" ) all elements with the class name "slides"*/
    y[j].style.display = "none";
    }  
/*displays (display="block" ) the element with the given slideIndex*/
    y[slideIndex3-1].style.display = "block";
}

//AutoSlide animation
var slideIndex3 = 0;
autoSlide();
function autoSlide() {
    var j;
    var y = document.getElementsByClassName("slides3");
    for (j = 0; j < y.length; j++) {
    y[j].style.display = "none";
    }
    slideIndex3++;
    if (slideIndex3 > y.length) {
    slideIndex3 = 1
    }
    y[slideIndex3-1].style.display = "block";

// Change image every 5 seconds
setTimeout(autoSlide, 5000);
}

 </script>
 </div> 

<!--
 <hr>
 <p>&nbsp;</p>
 <p>&nbsp;</p>
 <pre id="contact">If you want to get in touch with us,
 click here</pre>
 
 <p>&nbsp;</p>
 <p>&nbsp;</p>
 <p>&nbsp;</p>
 <p>&nbsp;</p>
 <p>&nbsp;</p>
 <p>&nbsp;</p>
 <p>&nbsp;</p>
 <p>&nbsp;</p>
 
 -->

 
 
 
 <br>
 <br>
 <hr>
 <a href="/homes/index"><button class="trigger">If you want to get in touch with us,  <br/>click here</button> </a>
     
     <!-- 팝업 될 레이어 --> 
     <div class="modal"> 
         <div class="modal-content"> 
             <span class="close-button">&times;</span> 
             <h1 class="title">메일 보내기</h1> 
             <form> 
            <input name="name" placeholder="Name" type="text" required /><br/>
               <textarea name="message" placeholder="Test Message" required="required"></textarea> 
               <input type="button" id="cancel" value="취소"> 
               <input type="submit" id="submit" value="보내기">  
             </form> 
         </div> 
     </div>

    <script type="text/javascript"> 
         var modal = document.querySelector(".modal"); 
         var trigger = document.querySelector(".trigger"); 
         var closeButton = document.querySelector(".close-button"); 
         var cancelButton = document.querySelector("#cancel");

        //console.log(modal);

        function toggleModal() { 
             modal.classList.toggle("show-modal"); 
         }

        function windowOnClick(event) { 
             if (event.target === modal) { 
                 toggleModal(); 
             } 
         }

        trigger.addEventListener("click", toggleModal); 
         closeButton.addEventListener("click", toggleModal); 
         cancel.addEventListener("click", toggleModal); 
         window.addEventListener("click", windowOnClick); 
     </script>

 <div id="nav">
    </div>
    </div>
</body>
</html>