<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR" rel="stylesheet">
       
    <link href="css/elements.css" rel="stylesheet">
    <script src="js/my_js.js"></script>
    <style>
     /*메뉴*/
      * 
       {    
         padding: 0;
         margin: 0;
         transition: all .5s ease-in-out;
      }
      header {
          position:fixed;
          z-index:300;
          font-family: 'Noto Sans KR', sans-serif;
         background: #2a2a2a;
         width: 100%;
        
      }
     
      input#btn_main{
          font-family: 'Noto Sans KR', sans-serif;
         display: none;
       
      }
     
      label {
         font-family: 'Noto Sans KR', sans-serif;
         width: 30px;
         height: 30px;
         display: block;
         background: #333;
         color:  #FFF5EE;
         font-size: 40px;
         line-height: 30px;
         text-align: center;
         padding: 10px;
         font-weight: bold;
         float: left;
       
      }
      label:hover {
          font-family: 'Noto Sans KR', sans-serif;
         background: #444;
      }
      main {
          font-family: 'Noto Sans KR', sans-serif;
         color:  #FFF5EE;
         height: 50px;
         display: block;
         text-align: right;
         padding: 0px 20px;
         line-height: 50px;
         letter-spacing: 5px;
         text-transform: uppercase;
         font-family: monospace;
         font-weight: 900;
      }
      .menu {
          font-family: 'Noto Sans KR', sans-serif;
         position: absolute;
         background: #333;
         width: 200px;
         list-style: none;
         margin-left: -200px;
         opacity: 0;
       
      }
      li {
          font-family: 'Noto Sans KR', sans-serif;
         display: block;
         outline: 1px solid #eee;
         padding: 7px 10px;
         border-left: 0 solid #ddd;
      }
      li a {
          font-family: 'Noto Sans KR', sans-serif;
         color: #eee;
         text-decoration: none;
         display: block;
      }
      li:hover {
         font-family: 'Noto Sans KR', sans-serif;
         background: #444;
         border-left: 5px solid #ddd;
      }
      #btn_main:checked ~ .menu {
          font-family: 'Noto Sans KR', sans-serif;
         margin: 0;
         opacity: 1;
      }
    body
    {
       font-family: 'Noto Sans KR', sans-serif;
       font-size: 10pt;
       background-color:  white;
       padding: 0px;
       margin: auto;
    
    }
    /*   맨 위     */
    #head 
    {
       font-family: 'Noto Sans KR', sans-serif;
        background-image: url(<%=asset_path('홈.jpg')%>);
       color: #FFF5EE;
        background-size: cover;
       padding: 80px;
        margin-bottom: 10px;
        
       
    }
    #head> p 
    {
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 100px;
        color:  #FFF5EE;
        padding-top: 5px;
        margin: 50px;
        font-weight: bold;
        text-align: center;
    }
    #body
    {
        margin : 150px;
        width: 60%;
        height: 500px;
        margin: 0 auto;
        margin-top: 100px;
        padding: 20px;
        margin-bottom: 100px;
        border:2px gray solid;
    }
    #body>h2
    {
        margin-bottom : 20px;
    }
    .btn-info
    {
        float : right;
    }
  </style>
  </head>
  <body>
    <header>
      <input type="checkbox" id="btn_main"><!-- sadfadfasdfa -->
      <label for="btn_main">&equiv;</label>
      <main for="">CAFE FOR GNU</main>
      <ul class="menu">
         <li><a href="/">HOME</a></li>
         <li><a href="#cent4">스타벅스</a></li>
         <li><a href="#cent5">이디야</a></li>
         <li><a href="#cent6">투썸</a></li>
         <li><a href="/boards/list">게시판</a></li>
      </ul>
    </header>
    <!--헤드-->
    <div id="head">
      <p>THE CAFE</p>
    </div>
    <div id = "body">
        <h2><%=@special.id%>번 게시글</h2>
        <hr>
        <h4>제목 : <%=@special.title%></h4>
        <hr>
        <h4><pre><%=@special.content%></pre></h4>
        <hr>
        <!--<a href="/boards/list"><button type="submit" class="btn btn-info">돌아가기</button></a>-->
        <form action='/boards/show/<%= @special.id %>/comments/create' method='get'>
            <div class="input-group mb-3">
              <input type="text" class="form-control" name="input_comment" placeholder="새 댓글을 입력하세요." aria-label="Recipient's username" aria-describedby="button-addon2">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit" id="button-addon2">작성</button>
              </div>
            </div>
        </form>
        <% @comments.each do |comment| %>
            <p><%= comment.content %> &nbsp; [ 작성자 : <%=comment.user%> ]</p>
        <% end %>
    </div>
  </body>
</html>

